[submodule "bundle/completions"]
	path = bundle/completions
	url = git@github.com:zsh-users/zsh-completions
[submodule "bundle/autosuggestions"]
	path = bundle/autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule "bundle/syntax-highlighting"]
	path = bundle/syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule "bookmarks"]
	path = bookmarks
	url = git@github.com:Wonko7/private-zsh-bookmarks.git
[submodule "tmux-sessions"]
	path = tmux-sessions
	url = git@github.com:Wonko7/private-tmux-sessions.git
